*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    background-color:whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
}
.calculator
{
    width:25%;
    border-radius:5px;
    overflow: hidden;
    text-align: right;
    box-shadow: 7px 7px 43px 25px  greenyellow;
    animation-name:bs;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes bs{
    from{box-shadow: 7px 7px 43px 25px  greenyellow;}
    to{box-shadow: 7px 7px 43px 25px  skyblue;}
}
.display
{
    width:100%;
    height:20vh;
    background : navajowhite;
    color:beige;
}
.input
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
button{
    border:none;
    background-color:azure;
    padding:1.6rem;
    font-size:25px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.output
{
    font-size : 22px;
    padding : 20px;
    color: red;

}
.result
{
    font-size: 15px;
    padding:25px;
    color:red;
}
@keyframes big
{
    0%{
        font-size: 18px;
    }
    100%{
        font-size:32px;
    }
}
@keyframes small
{
    0%{
        font-size: 22px;
    }
    100%{
        font-size:18px;
    }
}

button:hover{
    font-weight: bold;
}
